listen admin
    bind *:{{ haproxy_admin_port }}
    mode http
    stats enable
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    stats uri /haproxy?stats