
#{{ ansible_managed }}

server {

  listen *:{{ listen_port }};
  server_name _;

{% if syslog_server is defined %}
  error_log syslog:server={{ syslog_server }},tag=nginx_error_{{site_name}},severity=error;
  access_log syslog:server={{ syslog_server }},tag=nginx_access_{{site_name}},severity=info;
{% endif %}

  root /opt/itprovent/unilever/webadmin/HEAD;
  index index.php;

  location / {
    sendfile on;
    include  /etc/nginx/mime.types;

    try_files $uri $uri/ /index.php;

    location ~ \.(hh|php)$ {
      sendfile off;

      fastcgi_param REQUEST_METHOD $request_method;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      fastcgi_keep_conn on;
      fastcgi_pass unix:/var/run/hhvm/hhvm.sock;
      fastcgi_index index.php;
    }
  }

}