# reference:
# http://wiki.rsyslog.com/index.php/Rsyslog_v7_configuration_example_(with_mysql_or_mongodb)

# REQUIRED: Please add these lines in rsyslog.conf:
# $ModLoad imudp
# $UDPServerRun 514

if ( $syslogtag == 'nginx_access_{{site_name}}:' ) then
  action(type="omfile" file="/var/log/nginx_access_{{site_name}}.log")
& stop
if ( $syslogtag == 'nginx_error_{{site_name}}:' ) then
  action(type="omfile" file="/var/log/nginx_error_{{site_name}}.log")
& stop