
#{{ ansible_managed }}

backend api-v1
    mode http

    reqrep ^([^\ :]*)\ /api/v1/(.*)   \1\ /\2

    # note: haproxy rule is declarative and read from top to bottom
    balance roundrobin

    option http-server-close
    option forwardfor except 127.0.0.1

    timeout server {{ haproxy_server_timeout }}

{% for host in backends_api_v1 %}
    server {{ hostvars[host].label }} {{ hostvars[host].private_ip_address }}:10010 maxconn 2048 check inter 20s fastinter 5s downinter 3s
{% endfor %}


backend swagger-v1
    mode http
    # note: haproxy rule is declarative and read from top to bottom
    balance roundrobin

    reqrep ^([^\ :]*)\ /swagger/v1/(.*)   \1\ /\2

    balance roundrobin
    option httpclose
    option forwardfor

    timeout connect          5s
    timeout server          25s
    timeout tunnel        3600s
    timeout http-keep-alive  5s
    timeout http-request    15s
    timeout queue           30s
    timeout tarpit          60s

{% for host in backends_api_v1 %}
    server {{ hostvars[host].label }} {{ hostvars[host].private_ip_address }}:8080 maxconn 2048 check inter 20s fastinter 5s downinter 3s
{% endfor %}