
#{{ ansible_managed }}

frontend front-webtier-HTTP-443
    mode http
    bind *:443 ssl crt /etc/haproxy/cert/itplever.com.pem
    reqadd X-Forwarded-Proto:\ https
    maxconn 2048

    default_backend webadmin

    # redirect letsencrypt acme challenge request
    acl letsencrypt-request path_beg -i /.well-known/acme-challenge/
    use_backend letsencrypt if letsencrypt-request

    option httplog
    option http-server-close
    option forwardfor except 127.0.0.1

    timeout client {{ haproxy_client_timeout }}



    acl has_swagger_v1_uri path_beg -i /swagger/v1
    use_backend swagger-v1 if has_swagger_v1_uri
    acl has_api_v1_uri path_beg -i /api/v1
    use_backend api-v1 if has_api_v1_uri

frontend front-webtier-HTTP-80
    mode http
    bind *:80

    # Note: force redirect to use SSL
    redirect scheme https if !{ ssl_fc }

    default_backend webadmin

    # redirect letsencrypt acme challenge request
    acl letsencrypt-request path_beg -i /.well-known/acme-challenge/
    use_backend letsencrypt if letsencrypt-request

    acl has_swagger_v1_uri path_beg -i /swagger/v1
    use_backend swagger-v1 if has_swagger_v1_uri
    acl has_api_v1_uri path_beg -i /api/v1
    use_backend api-v1 if has_api_v1_uri


