
#{{ ansible_managed }}

listen admin
    bind *:{{ haproxy_admin_port[0] }}
    mode http
    stats enable
    stats refresh 60s
    stats show-node
    stats show-legends
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    stats uri /haproxy?stats

    acl AuthOkay_ReadOnly http_auth(UsersFor_HAProxyStatistics)
    acl AuthOkay_Admin http_auth_group(UsersFor_HAProxyStatistics) admin
    stats http-request auth realm HAProxy-Statistics unless AuthOkay_ReadOnly
    stats admin if AuthOkay_Admin


