
#{{ ansible_managed }}

# add extra line break in the template otherwise it will be one long line in the
# result which will not be a valid haproxy.cfg file

userlist {{ item.name }}
{% if item.groups is defined %}
{% for group in item.groups %}
    group {{ group.name }} {% if group.users is defined %} users {{ ','.join(group.users) }}{% endif %}

{% endfor %}
{% endif %}
{% if item.users is defined %}
{% for user in item.users %}
    user {{ user.name }} password {{ user.password }}

{% endfor %}
{% endif %}
