
#{{ ansible_managed }}

backend webadmin
    mode http
    balance roundrobin
    option http-server-close
    option forwardfor except 127.0.0.1
    timeout server {{ haproxy_server_timeout }}

{% for host in backends_webadmin %}
    server {{ hostvars[host].label }} {{ hostvars[host].private_ip_address }}:8081 maxconn 2048 check inter 20s fastinter 5s downinter 3s
{% endfor %}

